.donate-bg {
  height: 390px;
  background: url(../../assets/images/Panda.png);
  background-position: center;
  background-size: cover;
}
.donate-row {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 90px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}
.donate-row-col {
  width: 1160px;
}
.donate-text {
  color: #fff;
}
.donate-h3 {
  text-align: left !important;
  color: #fe9013;
  margin: 40px 0;
}
.feed {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 40px 92px;
  height: 884px;
}
.feed-h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #fe9013;
  padding-bottom: 20px;
}
.feed-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #333b41;
}
.number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.panda-img {
  width: 268px;
}
.center-text {
  text-align: center;
}
.mr {
  margin-right: 60px;
}
.rectangle {
  height: 27px;
  background: #404950;
  margin-top: 20px;
  width: 915px;
  justify-content: space-around;
}
/***/
.pay__bar-input:checked + label:before,
.pay__bar-input:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 27px;
  bottom: 60px;
  width: 10px;
  height: 10px;
  background: #ffee2e;
  border-radius: 50%;
  z-index: 1;
}
.pay__bar-input:checked + label,
.pay__bar-input:not(:checked) + label {
  display: inline-block;
  position: relative;
  color: #333b41;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 140%;
  width: 65%;
  z-index: 1;
  cursor: pointer;
  top: 43px;
  font-size: 26px;
}
.pay__bar-input:checked,
.pay__bar-input:not(:checked) {
  display: none;
}
.line__bcg {
  width: 850px;
  height: 2px;
  background: #72828e;
  z-index: 1;
  margin-bottom: 2px;
}
.pay__amount-btn {
  width: 12%;
  text-align: center;
}
.donate__amount {
  position: relative;
  margin: 0 auto 26px;
  display: block;
}
.donate__input {
  margin: auto;
  margin-top: 105px;
  padding-left: 9px;
  display: flex;
  width: 268px;
  height: 52px;
  background: url(../../assets/images/dolar.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
  border: 1px solid #929699;
  border-radius: 2px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.donate__options {
  margin: 27px 35px 34px 0;
}
.pay-options {
  gap: 80px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.amount-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;

  width: 298px;
  height: 54px;

  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  text-align: center;
  color: #fff;
  border: none;
  text-transform: uppercase;
}
.amount-btn:hover {
  background: #e47209;
}
.m {
  margin-top: 20px;
}
.donate__input:focus {
  outline: none;
  border: 1px solid #4b9200;
}
.pay__option-radio {
  accent-color: #e47209;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #e47209;
}

input[type="radio"]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type="radio"]:checked:before {
  background: #4b9200;
}

input[type="radio"]:checked {
  border-color: #4b9200;
}
.pay-options__item label {
  margin-left: 10px;
}
